$bgColor: #040714;
$mainColor: #c0c0c0;
$secondaryColor: #f9f9f9;
$bgButtonPrimary: #6421ff;
$buttonHoverPrimary: #7828ff;
$bgButtonSecundary: #0063e5;
$bgButtonDark: #000;
// $buttonHoverDark: ;
$bgFaq: #13151d;
